PORT=5000
NODE_ENV=development
FRONTEND_URL=http://localhost:5173

SUPABASE_URL=https:hruagkrgewqukeqmytgm.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhydWFna3JnZXdxdWtlcW15dGdtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc5ODI3NjcsImV4cCI6MjA5MzU1ODc2N30.jTJxHFj2cJZG_fBhfoI3IU5-LzBcjKhlBNwkpMvIaw0
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhydWFna3JnZXdxdWtlcW15dGdtIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Nzk4Mjc2NywiZXhwIjoyMDkzNTU4NzY3fQ.i0Yosmqf5djAqNN463L-BLPYKgKTH0g8mXjpWGgsAGM
